@import url("https://fonts.cdnfonts.com/css/amazon-ember");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Amazon Ember", Arial, sans-serif;
}

body {
  background-color: #ffe0e6;
}

.navbar-main {
  background-color: #212529;
  padding-top: 3px;
}

.nav-belt {
  display: flex;
}

.nav-left {
  display: flex;
  gap: 30px;
}

.nav-logo {
  display: flex;
  align-items: center;
  cursor: pointer;
  border-width: 2px;
  padding: 10px;
}

.nav-logo:hover {
  outline: solid #fff 2px;
}

.nav-logo img {
  height: 25px;
}

.nav-global-location-slot {
  color: #fff;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 5px;
  width: 165px;
  border-width: 2px;
}

.nav-global-location-slot:hover {
  outline: solid #fff 2px;
}

.nav-global-location-slot img {
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

.nav-global-location-slot .nav-line-1 {
  color: #b3c3cc;
  font-size: 0.8rem;
}

.nav-global-location-slot .nav-line-2 {
  font-size: 1rem;
  font-weight: bolder;
}

/* input */
.nav-fill .nav-search #nav-input {
  padding: 8px;
  border: none;
  outline: none;
  font-size: 1rem;
  width: 100%;
}

.nav-fill .nav-search #nav-input:focus {
  border: solid;
  border-width: 3px;
  border-color: #fe6100;
  border-left: none;
  border-right: none;
}

.nav-fill {
  width: 60%;
}

.nav-fill .nav-search .nav-right .nav-submit {
  padding: 8px;
  border: none;
  outline: none;
  font-size: 1rem;
  background-color: #ffbc66;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-width: 1px;
  cursor: pointer;
}

.nav-fill .nav-search .nav-right .nav-submit:focus {
  border: solid;
  border-color: #fe6100;
}

.nav-fill .nav-search select {
  background-color: #e6e6e6;
  padding: 8px;
  border: none;
  font-size: 0.95rem;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  cursor: pointer;
}

.nav-fill .nav-search select:focus {
  border: solid;
  border-color: #fe6100;
}

.nav-search {
  display: flex;
  justify-content: center;
  align-items: center;
}

#nav-search-bar-form {
  display: flex;
  padding: 3px;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.nav-right {
  display: flex;
  gap: 30px;
}

.nav-tools {
  display: flex;
}

.nav-tools #languages {
  background-color: #212529;
  color: #fff;
  cursor: pointer;
  margin-right: 5%;
  border: none;
}

.nav-tools #languages:hover {
  outline: solid #fff 2px;
}

.nav-right .nav-deliver-to {
  color: #fff;
  line-height: 11px;
  cursor: pointer;
  width: 160px;
}

.nav-right .nav-deliver-to .nav-line-1 {
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 5px;
}

.highlight-left {
  border: 3px solid #fe6100;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-right: none;
}

.highlight-right {
  border: 3px solid #fe6100;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-left: none;
}

.nav-right .nav-returns {
  color: #fff;
  line-height: 11px;
  cursor: pointer;
  width: 120px;
}

.nav-right .nav-returns:hover {
  outline: solid #fff 2px;
}

.nav-right .nav-deliver-to:hover {
  outline: solid #fff 2px;
}

.nav-right .nav-returns .nav-line-1 {
  font-size: 0.8rem;
  display: flex;
  padding: 5px;
}

.nav-right .nav-basket {
  display: flex;
  cursor: pointer;
  padding-right: 10px;
}

.nav-right .nav-basket:hover {
  outline: solid #fff 2px;
}

.nav-right .nav-basket .nav-line-1 {
  color: #fff;
  position: relative;
  bottom: -10px;
  margin: 15px;
}

.nav-right .nav-basket img {
  width: 30px;
}

/* main navigation */

.nav-main {
  display: flex;
  background-color: #232f3e;
  color: white;
  gap: 10px;
  padding-bottom: 2px;
}

.nav-main a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  padding: 10px 5px;
  border: 1px solid transparent;
}

.nav-main a:hover {
  border: 1px solid #fff;
}

/* main section */
.desktop-banner {
  width: 100%;
  height: 30vh;
  overflow: visible;
  max-width: 1650px;
}

.page-content .desktop-banner img {
  width: 100%;
  height: auto;
  object-fit: contain;
  max-width: 1650px;
}

/* cards */

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px #0000001a;
  overflow: hidden;
  width: 250px;
  text-align: center;
  padding: 15px;
  justify-content: space-around;
  margin-bottom: 30px;
}

.card-container .card img {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ddd;
}

.card h3 {
  font-size: 18px;
  margin: 10px 0;
}

.card p {
  color: #333;
  font-size: 16px;
  margin: 8px 0;
}

/* footer */
.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  background-color: #232f3f;
}

.footer .back-to-top-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: fit-content;
  background-color: #364759;
  padding: 10px;
}

.footer .back-to-top {
  display: flex;
  text-decoration: none;
  color: #fff;
  font-size: 0.8rem;
}

/* footer links  */

.nav-footer-vertical-row {
  display: flex;
  height: 50vh;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.nav-footer-link-col {
  display: flex;
  flex-direction: column;
  width: 15%;
  height: 80%;
  color: #b2b9c3;
  font-size: 0.9rem;
}

.nav-footer-link-col .nav-footer-col-head {
  color: #fff;
  font-size: 1.1rem;
  margin-bottom: 6px;
}

.nav-footer-link-col ul {
  margin-bottom: 6px;
  cursor: pointer;
}

.nav-footer-link-col ul:hover {
  text-decoration: underline;
  opacity: 0.8;
}

.nav-footer-col-spacer-inner {
  display: flex;
  flex-direction: column;
  width: 5%;
  height: 80%;
}

/* copyright */

.copyright {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #131a22;
  color: #b2b9c3;
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer .copyright a {
  color: #b2b9c3;
  text-decoration: none;
}

.footer .copyright a:hover {
  opacity: 0.9;
  text-decoration: underline;
}
